{erl_opts, [debug_info]}.
{deps, [
            {cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "2.0.0-pre.3"}}},
            {erlsrcds, {git, "https://github.com/kradalby/erlsrcds.git", {branch, "master"}}},
            {erl_ip4_utils, {git, "https://github.com/kradalby/erl_ip4_utils.git", {tag, "0.0.1"}}},
            {gen_icmp, {git, "https://github.com/kradalby/gen_icmp.git", {branch, "master"}}}
       ]}.

{relx, [{release, {'nettbrett2', "0.0.1"},
         ['nettbrett2',
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
