{erl_opts, [debug_info]}.
{deps, [
            {cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "2.0.0-pre.3"}}},
            {erlsrcds, {git, "https://github.com/kradalby/erlsrcds.git", {branch, "master"}}},
            {erl_ip4_utils, {git, "https://github.com/kradalby/erl_ip4_utils.git", {tag, "0.0.3"}}},
            {gen_icmp, {git, "https://github.com/msantos/gen_icmp.git", {branch, "master"}}},
            {simple_snmp, {git, "https://github.com/kradalby/simple_snmp.git", {tag, "0.0.1"}}},
%            {jiffy, {git, "https://github.com/davisp/jiffy.git", {branch, "feature-add-rebar3-support"}}},
            {jiffy, "0.14.7"}
       ]}.

{relx, [{release, {'nettbrett2', "0.0.1"},
         ['nettbrett2',
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, false},
        {include_erts, "/usr/local/lib/erlang"},
        {system_libs, "/usr/local/lib/erlang"},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, "/usr/local/lib/erlang"}, {system_libs, "/usr/local/lib/erlang"}]}]
            }]
}.
